<!DOCTYPE html>
        <html>
            <head>
                <title>Index Page</title>
            </head>
            <body>
                <p style="color:red;"><b>This is where we can put information about the site and its purpose.</b></p>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'bodyType' %}">Body Types</a></br>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'calculator' %}">Calculators</a></br>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'crudTable' %}">CRUD</a></br>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'liftType' %}">Lift Types</a></br>
            </body>
        </html>